{% extends 'base.html.twig' %}

{% block title %}Chanson index{% endblock %}

{% block body %}
    <h1>Chanson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomChanson</th>
                <th>NomAlbum</th>
                <th>Duree</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chanson in chansons %}
            <tr>
                <td>{{ chanson.id }}</td>
                <td>{{ chanson.nomChanson }}</td>
                <td>{{ chanson.nomAlbum }}</td>
                <td>{{ chanson.duree ? chanson.duree|date('H:i:s') : '' }}</td>
                <td>{{ chanson.genre }}</td>
                <td>
                    <a href="{{ path('chanson_show', {'id': chanson.id}) }}">show</a>
                    <a href="{{ path('chanson_edit', {'id': chanson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chanson_new') }}">Create new</a>
{% endblock %}
