

{% block title %}Chanson{% endblock %}

{% block body %}
    <h1>Chanson</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chanson.id }}</td>
            </tr>
            <tr>
                <th>NomChanson</th>
                <td>{{ chanson.nomChanson }}</td>
            </tr>
            <tr>
                <th>NomAlbum</th>
                <td>{{ chanson.nomAlbum }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ chanson.duree ? chanson.duree|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ chanson.genre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chanson_index') }}">back to list</a>

    <a href="{{ path('chanson_edit', {'id': chanson.id}) }}">edit</a>

    {{ include('chanson/_delete_form.html.twig') }}
{% endblock %}
