
{% block body %}
    <h1>ChansonChanteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id de l'association</th>
                <th>Id de la chanson</th>
                <th>Id du chanteur</th>
            </tr>
                <td>{{ chanson_chanteur.id }}</td>
                <td>{{ chanson_chanteur.idchanson }}</td>
                <td>{{ chanson_chanteur.idchanteur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chanson_chanteur_index') }}">back to list</a>

    <a href="{{ path('chanson_chanteur_edit', {'id': chanson_chanteur.id}) }}">edit</a>

    {{ include('chanson_chanteur/_delete_form.html.twig') }}
{% endblock %}
