
{% block stylesheets %}
<link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="page-wrapper bg-gra-02 p-t-20 p-b-50 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h1 class="title">Editer votre chanteur</h1>
                    {{ include('chanteur/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                    {{ include('chanteur/_delete_form.html.twig') }}
                </div>
            </div>
            <a class="go-back" href="{{ path('chanteur_index') }}">⮜ Retour à la liste</a>
        </div>
    </div>

    <script src="{{ asset('js/myscript.js') }}"></script>
{% endblock %}
