{{ include('nav.html.twig')}}
<link rel="stylesheet" type="text/css" href=" {{ asset('css/showw.css')}}  ">
{% block body %}

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <p>Client : {{ client.prenom }}  {{ client.nom }}</p>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{{ client.datenaissance ? client.datenaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ client.sexe }}</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>

    </div>
</div>
    <a href="{{ path('client_index') }}">
        <div class="lien">Retour à l'index</div>
    </a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">
        <div class="lien">Editer</div>
    </a>
    <div class="lien">
        {{ include('client/_delete_form.html.twig') }}
    </div>

{% endblock %}