
{% block body %}
    <h1>ChanteurFestival</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Id Chanteur</th>
                <th>Id Festival</th>
            </tr>
            <tr>
                <td>{{ chanteur_festival.id }}</td>
                <td>{{ chanteur_festival.idchanteur }}</td>
                <td>{{ chanteur_festival.idfestival }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chanteur_festival_index') }}">back to list</a>

    <a href="{{ path('chanteur_festival_edit', {'id': chanteur_festival.id}) }}">edit</a>

    {{ include('chanteur_festival/_delete_form.html.twig') }}
{% endblock %}
