<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href=" {{ asset('css/index.css')}}  ">
    </head>
    <body>
        {{ include('nav.html.twig')}}
            <div  class="para1">
                <p>
                <h1>
                    Bienvenue,
                </h1>
                <h2>
                    Ce site vous permet de vous inscrire à des festivals.
                    <br>
                    Vous pouvez modifier à souhait votre réservation.
                </h2>
                </p>
            </div>
        <div  class="para2">
            <h2>
                Pour modifier, ajouter ou suprimer un élément veuillez vous rendre dans la catégorie souhaité 
            </h2>
            <h2>Pour modifier, ajouter ou suprimer un élément dans la table d'association qui relie chanson et chanteur</h2>
            <h3>
                <a href="{{path ('chanson_chanteur_index')}}">Chansons_Chanteur</a>
            </h3>
            <h3> S'inscrire à un festival</h3>
            <h4>
                <a href="{{path ('inscriptionRapide')}}">Inscription Rapide (que pour les clients)</a>
            </h4>

            <h4>
                <a href="{{path ('inscription')}}">Inscription Client et Chanteur</a>
            </h4>
        </div>
    </body>
</html>