<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <!-- <link href="" rel="stylesheet" media="all"> -->
    </head>
    <body>
            <h1>
                Bienvenue, 
            </h1>
            <h2>
                Pour modifier, ajouter ou suprimer un élément veuillez vous rendre dans la catégorie souhaité 
            </h2>
        
            <h3>
                <a href="{{path ('chanson_index')}}">Chanson</a>
            </h3>
            
            <h3>
                <a href="{{path ('chanteur_index')}}">Chanteur</a>
            </h3>

            <h3>
                <a href="{{path ('client_index')}}">Client</a>
            </h3>

            <h3>
                <a href="{{path ('festival_index')}}">Festival</a>
            </h3>

            <h3> S'inscrire </h3>
            <h4>
                <a href="{{path ('inscriptionRapide')}}">Inscription Rapide (que pour les clients)</a>
            </h4>

            <h4>
                <a href="{{path ('inscription')}}">Inscription Client et Chanteur</a>
            </h4>

            

    </body>
</html>