
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>inscriptionRapide</title>
    <!-- <link href="" rel="stylesheet" media="all"> -->
</head>
{{ include('nav.html.twig')}}
<body>
<h1>
    S'inscrire,
</h1>
<h2>
    Festival disponible :
</h2>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nomfestival</th>
        <th>Datedebut</th>
        <th>Lieu</th>
        <th>Genre</th>
        <th>Nbplaces</th>
    </tr>
    </thead>
    <tbody>
    {% for festival in festivals %}
        <tr>
            <td>{{ festival.id }}</td>
            <td>{{ festival.nomfestival }}</td>
            <td>{{ festival.datedebut ? festival.datedebut|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ festival.lieu }}</td>
            <td>{{ festival.genre }}</td>
            <td>{{ festival.nbplaces }}</td>>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{form(form)}}



</body>
</html>