{% extends 'base.html.twig' %}

{% block title %}Festival index{% endblock %}

{% block body %}
    <h1>Festival index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomfestival</th>
                <th>Datedebut</th>
                <th>Lieu</th>
                <th>Genre</th>
                <th>Nbplaces</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for festival in festivals %}
            <tr>
                <td>{{ festival.id }}</td>
                <td>{{ festival.nomfestival }}</td>
                <td>{{ festival.datedebut ? festival.datedebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ festival.lieu }}</td>
                <td>{{ festival.genre }}</td>
                <td>{{ festival.nbplaces }}</td>
                <td>
                    <a href="{{ path('festival_show', {'id': festival.id}) }}">show</a>
                    <a href="{{ path('festival_edit', {'id': festival.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('festival_new') }}">Create new</a>
{% endblock %}
